.textarea-container {
    max-width: 850px;
    width: 100%;
    margin: 24px auto;
    padding: 10px 16px;
}

.textarea-container textarea {
    width: 100%;
    height: 400px;
    background: var(--secondary-background);
    color: var(--primary-text);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    resize: none;
    outline: none;
}

.textarea-container textarea::placeholder {
    color: var(--secondary-text);
    opacity: 0.5;
    font-style: italic;
}