/* Poppins 200 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(../assets/fonts/Poppins-ExtraLight.ttf) format('tff');
}
/* Poppins 300 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(../assets/fonts/Poppins-Light.ttf) format('tff');
}
/* Poppins 400 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../assets/fonts/Poppins-Regular.ttf) format('tff');
}
/* Poppins 500 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../assets/fonts/Poppins-Medium.ttf) format('tff');
}
/* Poppins 600 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../assets/fonts/Poppins-SemiBold.ttf) format('tff');
}
/* Poppins 700 */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../assets/fonts/Poppins-Bold.ttf) format('tff');
}