:root {
  /* Dark Mode */
  --primary-text: #e0e0e0;
  --secondary-text: #bdbdbd;
  --light-gray: #333333;

  --primary-background: #121212;
  --secondary-background: #1e1e1e;
  --tertiary-background: #2c2c2c;

  --box-border: 1px solid #2c2c2c;
  --footer-border: 1px solid rgba(255, 255, 255, 0.1);
  --shadow-1: 0px 0.3px 0.9px rgba(255, 255, 255, 0.1), 0px 1.6px 3.6px rgba(255, 255, 255, 0.1);
}


