body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-background);
  color: aliceblue;
}

.main-container {
    min-height: 100vh;      
    display: flex;
    flex-direction: column;  
}
