.bottom-statsarea-container {
    max-width: 850px;
    width: 100%;
    margin: 24px auto;
    padding: 10px 16px;
}

.bottom-statsarea-container .bottom-statsarea-container-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    background: var(--secondary-background);
    color: var(--primary-text);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
}